<section class="header d-flex align-items-center justify-content-center">
  <nav class="navbar navbar-expand-lg position-absolute top-0 start-0 end-0 px-lg-4">
    <div class="container-fluid px-1 px-md-2">
        <a class="navbar-brand text-white f-family-b d-flex align-items-center mx-0 mx-md-2" href="#">
            <img src="assets/images/icon-text.png" alt="logo" width="40" class="d-inline-block align-text-top">
            <span class="ms-3">قراء للمناهج الدراسيه</span>
        </a>

        <button class="navbar-toggler px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-lg text-white"></i>
        </button>

        <div class="collapse navbar-collapse px-2 px-lg-0" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active text-white mx-lg-3 f-family-l" aria-current="page" href="#home">الرئيسية</a>
            </div>
        </div>
    </div>
  </nav>
  <div>
    <p class="f-family-b text-white text-center pt-5 fs-2 px-2 px-md-4">
      <span *ngFor="let section of sections;let i=index">{{i>0?'/':''}} {{section}}</span>
    </p>
  </div>
</section>
