<section class="units box-content d-flex justify-content-center align-items-center">
  <div class="container container-fluid px-3 py-5 p-md-5">
    <div class="row gy-4 gy-md-0">
      <div class="col-sm-6 col-md-3 px-1 px-sm-2" *ngFor="let unit of units;index as i">
        <a [routerLink]="unitOneLessonsLink[i]" class="text-decoration-none text-black">
          <div class="box-item d-flex justify-content-center align-items-center main-shadow">
            <p class="f-family-b h4 text-center px-2">{{unit}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
