.home{
  min-height: 100vh;
  background-color: #DB741D;
  background-image: url("../../assets/images/slider1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.home .content{
  color: #fff;
}
.home .content p{
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width:575px){
  .home .content{
    width: 100% !important;
    margin-left: 8px;
    margin-right: 8px;
    padding-right: 0px !important;
  }
}
@media screen and (max-width:400px){
  .home .content{
    padding-left: 0px !important;
  }
  .home .content p{
    font-size: 15px;
  }
}
